.card-element {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.balance-container {
    text-align: center;
    border: 2px solid #e5e5e5;
    border-radius: 0.6em;
    padding: 1em 0;
    line-height: 1.9;
}

.balance-container p {
    font-size: 0.9em;
}

.recent-transaction {
    display: flex;
    padding: 1.5em;
    gap: 1.8em;
}

.recent-transaction span {
    align-self: center;
    font-size: 1.5em;
}

.recent-transaction i {
    align-self: center;
    font-size: 1.2em;
    color: #0a58ca;
}

.recent-transaction-date {
    padding-top: 0.5em;
}
