.dashboard-container {
    display: flex;
    gap: 7em;
}

#chart-container {
    max-width: 40vw;
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.bar-chart {
    min-width: 40vw;
}

.secondary-chart {
    min-width: 30vw;
    align-self: center;
}


.summary-container h2 {
    text-align: center;
    max-width: 45vw;
    margin-top: 3em;
}