.expenses-container {
    margin-left: 4em;
    position: relative;
}

.expenses-info-list,
.expenses-data-list {
    display: flex;
    gap: 3em;
    list-style-type: none;
}

.expenses-info-list {
    margin-bottom: 2em;
}

.expenses-container li {
    flex: 1 0 15%;
    max-width: 20vw;
    padding-bottom: 1.3em;
}

.expense-amount {
    margin-left: 2em;
}

.expenses-data-list a {
    color: indianred;
    font-size: 20px;
}

.add-expense-button {
    position: absolute;
    right: 0;
    margin-right: 7em;
}
