.income-list-heading {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.income-container {
    position: relative;
    margin-left: 2em;
}

.income-container > ul{
    display: flex;
    gap: 3em;
    list-style-type: none;
}

.income-container .income-info-list {
    margin-bottom: 2em;
}

.income-container li {
    flex: 1 0 15%;
    max-width: 20vw;
    padding-bottom: 1.3em;
}

.income-data-list a {
    color: indianred;
    font-size: 20px;
}

.add-income-button {
    position: absolute;
    right: 0;
    margin-right: 7em;
}

.income-calculations {
    display: flex;
    flex-direction: row;
    gap: 5.5em;
    margin-top: 4em;
    margin-left: 1em;
    padding: 1em;
}

.highest-monthly-income {
    max-width: 30vw;
    text-align: center;
}

.highest-monthly-income h3,
.total-monthly-income h3{
    font-weight: 600;
}

.highest-monthly-income p,
.total-monthly-income p{
    color: #218678;
}

.total-monthly-income {
    max-width: 30vw;
    text-align: center;
}

.filters-container {
    margin-left: 2em;
    margin-bottom: 2em;
}

.filters-heading {
    margin-bottom: 0.5em;
}

.income-types-list {
    list-style-type: none;
    display: flex;
    gap: 1.3em;
}

.filters-container > p {
    margin-top: 0.8em;
}

.filters-container a{
    color: #000;
}
