.add-income-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    gap: 3em;
}

.add-income-container div {
    margin-bottom: 1.3em;
}

.add-income-container label {
    padding-bottom: 0.5em;
}

.add-income-container div:nth-child(3) .income-form-input {
    text-indent: 10px;
}

.add-income-container > p {
    color: rgb(33, 134, 120);
    font-size: 3em;
}

.income-amount {
    display: flex;
}

.income-amount span:nth-child(2) {
    margin-left: 0.2em;
    font-size: 1.8em;
}

.income-amount > span:nth-child(1) {
    flex: 1 1 223px;
}

.add-income-container button {
    margin-top: 2em;
    background-color: #fff;
    color: #000;
    min-width: 50%;
}

.add-income-container button:hover {
    background-color: rgb(33, 134, 120);
    color: #fff;
}
