.add-income-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    gap: 3em;
}

.income-form-label,
.income-form-input {
    display: block;
}

.add-income-container div {
    margin-bottom: 1.3em;
}

.income-form-label {
    padding-bottom: 0.5em;
}

.income-form-input {
    width: 100%;
    max-width: 100%;
    height: 2.8em;
    border: 2px solid #000;
    border-radius: 0.6em;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    text-indent: 20px;
}

.add-income-container div:nth-child(3) .income-form-input {
    text-indent: 10px;
}

.income-form-input:focus {
    border-color: rgb(33, 134, 120);
}

.add-income-container button {
    margin-top: 2em;
}

.add-income-container > p {
    color: rgb(33, 134, 120);
    font-size: 3em;
}

.income-amount {
    display: flex;
}

.income-amount span:nth-child(2) {
    margin-left: 0.2em;
    font-size: 1.8em;
}

.income-amount > span:nth-child(1) {
    flex: 1 1 223px;
}

.add-income-container button {
    background-color: #fff;
    color: #000;
}

.add-income-container button:hover {
    background-color: rgb(33, 134, 120);
    color: #fff;
}
