{% extends 'base.html' %}

{% block content %}
    <div id="chart-container">
        <div>
            <canvas id="bar-chart"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        let ctx = document.getElementById("bar-chart").getContext("2d");

        let chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{ labels|safe }},
                datasets: [
                    {
                        label: "Gross amount ({{ currency|safe }})",
                        backgroundColor: [
                            "#79AEC8",
                            "#3da9e1"
                        ],
                        borderColor: "#417690",
                        data: {{ data|safe }},
                        barThickness: 80,
                    }
                ]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Income over time'
                    }
                }
            }
        });
    </script>
{% endblock %}
