{% extends 'base.html' %}

{% block title %} Your Financial Overview {% endblock %}

{% block content %}
    <div class="dashboard-container">
        <div id="chart-container">
            <div class="bar-chart">
                <canvas id="bar-chart"></canvas>
            </div>
            <div class="secondary-chart">
                <canvas id="secondary-chart"></canvas>
            </div>
        </div>
        <div class="summary-container">
            <h2>Financial Summary:</h2>
            <p>All income: {{ all_income_sum }} {{ currency|make_list|first }}</p>
            <p>All expense: {{ all_expense_sum }} {{ currency|make_list|first }}</p>
            <section class="logged-in-choices">
                <h3>What do you want to do?</h3>
                <div class="dashboard-buttons">
                    <div>
                        <a href="{% url 'income:add-income' %}" class="button">Add an income</a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div>
                        <a href="{% url 'expenses:add-expense' %}" class="button">Add an expense</a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div>
                        <a href="{% url 'common:balance' %}" class="button">See your balance</a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        let ctx = document.getElementById("bar-chart").getContext("2d");

        let chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{ labels|safe }},
                datasets: [
                    {
                        label: "Gross income ({{ currency|safe }})",
                        backgroundColor: [
                            "#79AEC8",
                        ],
                        borderColor: "#417690",
                        borderRadius: 12,
                        data: {{ data|safe }},
                        barThickness: 80,
                    },
                    {
                        label: "Gross expense ({{ currency|safe }})",
                        backgroundColor: [
                            "#85ce5b",
                        ],
                        borderColor: "#417690",
                        borderRadius: 12,
                        data: {{ data2|safe }},
                        barThickness: 80,
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Income and expenses over time'
                    }
                }
            }
        });

        let ctx_2 = document.getElementById("secondary-chart").getContext("2d");

        let chart_2 = new Chart(ctx_2, {
            type: "bar",
            data: {
                labels: {{ labels|safe }},
                datasets: [
                    {
                        label: "Earned income ({{ currency|safe }})",
                        backgroundColor: [
                            "#4865d8",
                        ],
                        borderColor: "#417690",
                        borderRadius: 12,
                        data: {{ earned_income_data|safe }},
                        barThickness: 80,
                    },
                    {
                        label: "Passive income ({{ currency|safe }})",
                        backgroundColor: [
                            "#79AEC8",
                        ],
                        borderColor: "#417690",
                        borderRadius: 12,
                        data: {{ passive_income_data|safe }},
                        barThickness: 80,
                    },
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Types of Income over time'
                    }
                }
            }
        });
    </script>
{% endblock %}
