<nav>
    {% if not request.user.is_authenticated %}
        <ul>
            <li>
                <a href="{% url 'common:home' %}">
                    Home
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:create-account' %}">
                    Sign Up
                </a>
            </li>
            <li>
                <span> or </span>
            </li>
            <li>
                <a href="{% url 'accounts:login-account' %}">
                    Sign In
                </a>
            </li>
            <li>
                <a href="#">
                    About
                </a>
            </li>
        </ul>

    {% else %}
        <ul class="logged-in-list">
            <li>
                <a href="{% url 'common:dashboard' %}">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:details-profile' request.user.pk %}">
                    Profile
                </a>
            </li>
            <li>
                <a href="{% url 'income:all-income' %}" class="content-nav-link">
                    Income
                </a>
            </li>
            <li>
                <a href="{% url 'expenses:all-expenses' %}" class="content-nav-link">
                    Expenses
                </a>
            </li>
            <li>
                <a href="{% url 'common:balance' %}">
                    Balance
                </a>
            </li>
            <li class="nav-profile-photo">
                <img src="{{ request.context_variable.photo.url }}" alt="photo">
            </li>
            <li class="sign-out">
                <a href="{% url 'accounts:logout-account' %}">
                    Sign Out
                </a>
            </li>
        </ul>
    {% endif %}
</nav>
