.add-expenses-container {
    margin-top: 3em;
}

.expense-form-input {
    height: 3em;
    min-width: 13.75em;
}

.add-expenses-container form > div {
    margin-bottom: 1.2em;
}

.add-expense-label {
    padding-bottom: 0.5em;
}

.add-expense-amount,
.add-expense-date {
    max-width: 70%;
}

.expense-description-input {
    border: 2px solid #000;
    border-radius: 0.7em;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    text-indent: 20px;
}

.add-expenses-container button {
    min-width: 30%;
    margin-top: 2em;
    background-color: #fff;
    color: #000;
}

.add-expenses-container button:hover {
    background-color: rgb(33, 134, 120);
    color: #fff;
}

.add-expense-amount-with-currency {
    display: flex;
    gap: 0.5em;
}

.add-expense-currency {
    font-size: 1.4em;
    align-self: center;
}

.expense-description-input:focus {
    border-color: rgb(33, 134, 120);
}
