.add-expenses-container {
    margin-top: 3em;
}

.expense-form-input {
    height: 3em;
    min-width: 13.75em;
}

.add-expenses-container form > div {
    margin-bottom: 1.2em;
}

.add-expense-label {
    padding-bottom: 0.5em;
}

.add-expense-description,
.add-expense-date {
    max-width: 13.75em;
}

.add-expense-amount-with-currency {
    display: flex;
    gap: 0.5em;
}

.add-expense-currency {
    font-size: 1.4em;
    align-self: center;
}

.add-expenses-container button {
    min-width: 45%;
    margin-top: 2.2em;
    background-color: #fff;
    color: #000;
}

.add-expenses-container button:hover {
    background-color: rgb(33, 134, 120);
    color: #fff;
}
