{% extends 'base.html' %}

{% block title %} Change Currency {% endblock %}

{% block content %}
    <h2 class="heading">Change your currency</h2>
    <div class="centered-container currency-change-container">
        <h3>
            Choose between several available currencies:
        </h3>
        <div>
            <form action="{% url 'accounts:change-currency' user.pk %}" method="post">
                <div class="currency-change-form-and-button">
                    <div>
                        {{ form.currency }}
                    </div>
                    <div>
                        <button type="submit" class="currency-change-button">Save</button>
                    </div>
                    {% csrf_token %}
                </div>
            </form>
        </div>
        <p>
            Your current currency is: <span><strong>{{ currency }}</strong></span>
        </p>
    </div>
{% endblock %}
