{% extends 'base.html' %}

{% block title %} Budget Tracker - Account Login {% endblock %}

{% block content %}
    <h2 class="heading login-heading">Login</h2>

    <div class="centered-container login-container">
        <form action="{% url 'accounts:login-account' %}" method="post">
            {% for field in form %}
                <div class="form-label login-label">
                    {{ field.label }}
                </div>
                <div class="login-field-div">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="login-button">Enter</button>
            {% csrf_token %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="registration-success-message">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="login-errors form-errors">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>
{% endblock %}
