{% extends 'base.html' %}
{% load static %}

{% block title %} BudgetTracker - Profile {% endblock %}

{% block content %}
    <h2 class="heading profile-heading">Your Profile</h2>

    <div class="centered-container profile-container">
        <div class="profile-info-container">
            <div class="profile-names">
                <h3>{{ user.first_name }} <br> {{ user.last_name }}</h3>
                <br>
                <h3>{{ user.email }}</h3>
                <br>
                <h3>Balance: {{ balance }}</h3>
            </div>
            <div class="profile-photo">
                {% if photo %}
                    <img src="{{ photo.photo.url }}" alt="profile-pic">
                {% else %}
                    <p><a href="{% url 'accounts:add-profile-photo' user.pk %}">Upload photo</a></p>
                {% endif %}
            </div>
        </div>
        <div class="remove-photo">
            {% if photo %}
            <i class="fa-solid fa-xmark"></i><a href="#">Remove Photo</a>
            {% endif %}
        </div>
        <div class="profile-photo-form">
            <form method="post" enctype="multipart/form-data">
                {% for field in form %}
                    <div class="form-label profile-form-label">
                        {{ field.label_tag }}
                    </div>
                    <div class="profile-form-div">
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="profile-buttons">
                    <button type="submit" class="profile-save-button">Save</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
        <div class="profile-links">
            <a href="#">Change password</a>
            <a href="{% url 'accounts:change-currency' user.pk %}">Change currency</a>
            {% if photo %}
                <a href="#" class="change-photo-link">Change photo</a>
            {% endif %}
        </div>
        <a href="#" class="account-delete-button">Delete Account</a>
    </div>
    <script src="{% static 'js/profile-photo-script.js' %}"> </script>
{% endblock %}
