{% extends 'base.html' %}

{% block title %} Budget Tracker - Account Creation {% endblock %}

{% block content %}
    <h2 class="heading registration-heading">Create your account</h2>
    
    <div class="centered-container registration-container form-container">
        <form action="{% url 'accounts:create-account' %}" method="post">
            {% for field in form %}
                <div class="form-label reg-form-label">
                    {{ field.label }}
                </div>
                <div class="reg-form-div">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="register-continue-btn">Continue</button>
            {% csrf_token %}
            <div class="login-info-div">
                <p>Have an account? 
                    <a href="{% url 'accounts:login-account' %}" class="login-extra-link">Sign in</a>
                </p>
            </div>
            {% if form.errors %}
                <div class="registration-errors form-errors">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
