{% extends 'base.html' %}

{% block title %} Budget Tracker - Account Creation {% endblock %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center mt-5 me-4" style="height: 500px">
        <form action="{% url 'create_account' %}" method="post">
            <h2 class="pb-2">Sign up</h2>
            {% for field in form %}
                <div class="mb-3 border border-2 border-secondary rounded">
                    {{ field }}
                </div>
            {% endfor %}
            {% if form.errors %}
                <div class="alert alert-danger text-wrap" style="width: 15rem">
                    {{ form.errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-success">Create Account</button>
            {% csrf_token %}
            <div class="pt-2">
                <h5>Have an account? <a href="#" class="text-decoration-none">Sign in</a></h5>
            </div>
        </form>
    </div>
{% endblock %}
