{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center mt-5" style="height: 600px">
        <div class="">
            <form action="{% url 'accounts:details-profile' profile_pk %}" method="post">
                <h2 class="pb-2">Edit profile</h2>
                {% for field in form %}
                    <div class="mb-2">
                        {{ field.label_tag }}
                    </div>
                    <div class="mb-3 border border-2 border-secondary rounded">
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="row pt-3">
                    <div class="col">
                        <button type="submit" class="btn btn-success border border-dark w-75">Save</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-sm btn-danger border-border-dark">Delete Account</button>
                    </div>
                </div>
                {% csrf_token %}
                <div class="mt-4">
                    <div class="pb-3">
                        <a href="#" class="text-decoration-none">Change password</a>
                    </div>
                    <div class="pb-3">
                        <a href="{% url 'accounts:change-currency' profile_pk %}" class="text-decoration-none">
                            Change currency
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
