@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';

@import "reset.css";
@import "pages/income-add-page.css";
@import "pages/income-list-page.css";
@import "buttons.css";
@import "header-and-navigation.css";
@import "footer.css";

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
}

.primary-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.form-control {
    width: 17rem;
    height: 3rem;
}
