{% extends 'base.html' %}

{% block title %} Add Source of Income {% endblock %}]

{% block content %}
    <h2 class="heading add-income-heading">Log new income</h2>

    <div class="add-income-container">
        <p><i class="fa-solid fa-coins"></i></p>

        <form action="{% url 'income:add-income' %}" method="post">
            <div>
                <label>{{ form.source.label }}</label>
                {{ form.source }}
            </div>
            <div>
                <label>{{ form.amount.label }}</label>
                <div class="amount-and-currency">
                    <span>{{ form.amount }}</span><span>{{ current_currency|make_list|first }}</span>
                </div>
            </div>
            <div>
                <label>{{ form.type.label }}</label>
                {{ form.type }}
            </div>
            <button type="submit">Add</button>
            {% csrf_token %}
            {% if form.errors %}
                <div class="form-errors">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
