{% extends 'base.html' %}

{% block title %} Add Source of Income {% endblock %}]

{% block content %}
    <h2 class="heading add-income-heading">Log new income</h2>

    <div class="money-icon-container">
        <div><i class="fa-solid fa-money-bill-trend-up"></i></div>
    </div>

    <div class="add-income-container">
        <form action="{% url 'income:add-income' %}" method="post">
            <p>
                <label class="income-form-label">{{ form.source.label }}</label>
                {{ form.source }}
            </p>
            <p>
                <label class="income-form-label">{{ form.amount.label }}</label>
                {{ form.amount }}<span>{{ current_currency|make_list|first }}</span>
            </p>
            <p>
                <label class="income-form-label">{{ form.type.label }}</label>
                {{ form.type }}
            </p>
            <button type="submit">Add</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
