{% extends 'base.html' %}

{% block title %} Income Tracking {% endblock %}

{% block content %}
    <h2 class="heading income-list-heading">Your currently logged income</h2>
    <div class="income-container">
        <ul class="income-info-list">
            <li>
                <b>Source of income:</b>
            </li>
            <li>
                <b>Amount:</b>
            </li>
            <li>
                <b>Type:</b>
            </li>
            <li>
                <b>Submitted on:</b>
            </li>
            <li>
                <b>Remove:</b>
            </li>
        </ul>
        {% for income in object_list %}
            <ul class="income-data-list">
                <li>
                    {{ income.source|capfirst }}
                </li>
                <li>
                    {{ income.amount }} {{ current_currency|make_list|first }}
                </li>
                <li>
                    {{ income.type }}
                </li>
                <li>
                    {{ income.date }}
                </li>
                <li>
                    <a href="{% url 'income:delete-income' income.pk %}"><i class="fa-solid fa-xmark"></i></a>
                </li>
            </ul>
        {% endfor %}
    </div>
    <a href="{% url 'income:add-income' %}" class="button add-income-button">Add more Income</a>
{% endblock %}
