{% extends 'base.html' %}

{% block title %} Delete expense confirmation {% endblock %}

{% block content %}
    <h2 class="heading">Are you sure you want to delete this expense?</h2>
<div class="centered-container expense-delete-container">
    <form method="get">
        {% for field in form %}
            <div class="expense-delete-field">
                <div class="expense-delete-label">{{ field.label }}</div>
                <div>{{ field }}</div>
            </div>
        {% endfor %}
    </form>
    <form method="post" action="{% url 'expenses:delete-expense' expense.pk %}">
        {{ choice_form.delete_choice }}
        <div class="expense-delete-btn-container">
            <button type="submit" class="expense-delete-button">Delete</button>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
